.user-Container {
    background-color: white;
    max-width: 350px;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 48px;
}

.user-title {
    text-align: center;
    color: #0f22b1;
    font-size: 24;
    font-style: italic;
}

.user-from {
    margin-bottom: 1px;
    padding: 5px;
    border-radius: 800px;
    font-style: italic;
}

.user-input {
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-style: italic;
}

.user-button {
    background-color: darkslateblue;
    color: white;
    padding: 5px 55px;
    border-radius: 10px;
    display: block;
    margin: auto;
    cursor: pointer;
    font-size: 16px;
    font-style: italic;
}

.user-label{
    color:rgb(99, 83, 245);
    font-style: italic;
}