.home {
     padding: 200px 350px;
     display: block;
     font-size: 30;
     font-style: italic;
}

.key:hover {
    background-color: rgb(157, 102, 88);
}

.tag-pill {
    padding: 3px 5px;
    margin: 2px;
    border-radius: 12px;
    background-color: #e0e0e0;
    color: #333;
    font-size: 15px;
    font-style: italic;
}

.profile {
    margin-left: 1040px;
    margin-top: 15px;
}

.span-bar {
    margin-left: 0px;
}

.search {
    display: flex;
}

.search-name {
    padding-left: 20px;
    font-size: 20px;
    font-style: italic;
}

.searchdate {
    padding-left: 45px;
font-style: italic;
}

.searchstatus {
    padding-left: 45px;
    font-style: italic;
}

.searchpriority {
    padding-left: 45px;
    font-style: italic;
}

.searchbar {
    padding-left: 45px;
    font-style: italic;
}

.task-form {
    background-color: white;
    max-width: 450px;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 58px;
    font-style: italic;
}

.input-task {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 16px;
    color: black;
    font-style: italic;
}

.button-task {
    width: 300px;
    background-color: rgb(88, 83, 116);
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    display: block;
    margin: auto;
    cursor: pointer;
    font-size: 16px;
    font-style: italic;
}

.task-submit {
    padding-top: 10%;
}

.table {
    width: 0%;
    height: 100%;
    font-style: italic;
}

th {
    height: 70px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.action {
    padding-left: 20px;
    font-style: italic;
}

.button-update {
    background-color: rgb(56, 51, 94);
    color: white;
    padding: 7px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-style: italic;
}

.task-button {
    display: flex;
    align-items: end;
    padding-top: 10px;
    padding-left: 100px;
    font-style: italic;
}