.login {
    background-color: white;
    max-width: 350px;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 58px;
    padding-bottom: 50px;
}

.form-login {
    text-align: center;
    color: #4a24ac;
    font-size: 25;
    font-style: italic;
}

.text {
    width: 100%;
    padding: 5px;
    color: black;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-style: italic;
}

.button-login {
    background-color: darkslateblue;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    display: block;
    margin: auto;
    cursor: pointer;
    font-size: 16px;
    font-style: italic;
}

.input-form {
    margin-bottom: 1px;
    padding: 1px;
    border-radius: 700px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-style:italic;
}

.login-label{
    color:blue;
    font-style:italic;
}